apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: flight-app-hpa
  namespace: flight-search
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: flight-app
  minReplicas: 4  # Минимум 4 реплики
  maxReplicas: 7  # Максимум 7 реплик при нагрузке
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 80