name: Deploy to Production

on:
  push:
    branches: [ main, master ]

jobs:
  build-and-deploy:
    runs-on: self-hosted
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup Docker Buildx
      run: |
        docker buildx version || echo "Buildx не установлен"
        
        DOCKER_BUILDKIT=1 docker build -t flight-search-app:latest .
      env:
        DOCKER_BUILDKIT: 1
    
    - name: Build with BuildKit
      run: |
        DOCKER_BUILDKIT=1 docker build \
          -t flight-search-app:latest \
          --progress=plain \
          .
    
    - name: Tag and push
      run: |
        docker tag flight-search-app:latest registry.cutemiya.ru/flight-search-app:latest
        docker push registry.cutemiya.ru/flight-search-app:latest
    
    - name: Deploy
      run: |
        kubectl rollout restart deployment/flight-app -n flight-search